@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  box-sizing:border-box;
}

body {
  background:#46494C;
  
  font-family: 'Roboto', sans-serif;
}
.body-dimension {
    min-width: 600px;
    min-height: 600px;
}
.marginless {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.form-control {
    width: 100px;
    margin-bottom: 10px;
}

.product-container {
  background:#C5C3C6;
  margin: 10px auto;
  border: 5px solid #1985A1;
  box-shadow:1px 0 3px rgba(0,0,0,0.05);
  justify-content:space-around;
  flex-wrap:wrap;
}

.product-alert {
    border: 5px solid #b81e1e;
}

.product {
  position:relative;
  overflow:hidden;
  flex: 1 33.2%;
  margin-right:-1px;
  margin-bottom:-1px;
  padding:10px;
}

.img {
    height: 100%;
    width: 100%;
    display: block;
    border: 2px solid #333;
}

@media ( max-width: 920px ) {
  .product:first-child, .product:nth-child(2) {
    flex:2 50%;
  }
}


/* Spinning Loader */

#loader-1 #loader{
    position: fixed;
    left: 50%;
    top: 50%;
    height: 10vh;
    width: 10vh;
    margin-top: -25px;
    margin-left: -25px;
    border: 3px solid transparent;
    border-top-color: #20577d;
    border-bottom-color: #20577d; 
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader-1 #loader:before{
    content: "";
    position: absolute;
    top:2%;
    bottom: 2%;
    left: 2%;
    right: 2%; 
    border: 3px solid transparent;
    z-index: 2;
    border-top-color: #2e7aaf;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    -o-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;

}

#loader-1 #loader:after{
    content: "";
    position: absolute;
    top:5%;
    bottom: 5%;
    left: 5%;
    right: 5%; 
    border: 3px solid transparent;
    border-top-color: #3da2e8;
    z-index: 2;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;

}

/*Keyframes for spin animation */

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  
    }

    50% {
        -webkit-transform: rotate(360deg);  
    }
    100% {
        -webkit-transform: rotate(360deg);  
    }
}


@-moz-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  
    }

    50% {
        -webkit-transform: rotate(360deg); 
    }
    100% {
        -webkit-transform: rotate(360deg); 
    }
}

@-o-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg); 
    }

    50% {
        -webkit-transform: rotate(360deg); 
    }
    100% {
        -webkit-transform: rotate(360deg);  
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  
    }

    50% {
        -webkit-transform: rotate(360deg);  
    }
    100% {
        -webkit-transform: rotate(360deg);  
    }
}