@import url(https://fonts.googleapis.com/css?family=Roboto:400);

body {
  background: #274e86; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #274e86, #457B9D);
  background: -moz-linear-gradient(right, #274e86, #457B9D);
  background: -o-linear-gradient(right, #274e86, #457B9D);
  background: linear-gradient(to left, #274e86, #457B9D);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.nav-item {
  margin-right: 0.5em;
}

.change-ID {
  padding: 8% 0 0;
  margin: auto;
}

.card-change-id {
    background-color: #e2e2e2;
}

.text-center {
    text-align: center;
}

.add-top-marign {
    margin-top: 10px;
}

.remove-bottom-margin {
    margin-bottom: 0;
}
