<!DOCTYPE html>
<html>
<head>
    <title>Amazon Watchlist - Options</title>

    <!-- Bootsrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- setup css -->
    <link rel="stylesheet" href="./css/setup.css">

    <!-- AngularJS-->
    <script src="lib/angular.min.js"></script>
    <script src="./app.js"></script>

</head>
<body ng-app="watchlistApp">
    <div class="container" ng-controller="optionsController">
        <div class="row change-ID">
            <div class="col-6 mx-auto">
                <div class="card">
                    <div class="card-body card-change-id">
                        <div style="margin-bottom: 1em;">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <div class="nav-link" ng-class="{'btn-info': currentView == 0, 'btn-outline-info': currentView != 0}" ng-click="changeView(0)">Wishlist</div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link" ng-class="{'btn-info': currentView == 1, 'btn-outline-info': currentView != 1}" ng-click="changeView(1)">User Info</div>
                                </li>
                            </ul>
                        </div>

                        <div ng-show="currentView == 0">
                            <h2 class="card-title text-center">Change wishlist ID</h2>
                            <form ng-submit="setListID(id)">
                                <div>
                                    <p><br/>Current ID: {{currentID}}</p>
                                </div>
                                <div>
                                <label>Enter your new wishlist ID</label>
                                <input type="text" class="form-control" placeholder="xxxxxxxxxxxxx" ng-model=id required/> 
                                </div>
                                <div class="alert alert-warning add-top-marign">
                                    <p class="text-center remove-bottom-margin"><small>Important: the selected wish list must be public<br/>Ex. https://www.amazon.com/hz/wishlist/ls/xxxxxx</small></p>
                                </div>
                                
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>

                        <div ng-show="currentView == 1">
                            <h2 class="card-title text-center">Modify User Info</h2>
                            <form ng-submit="setUserInfo()">
                                <h5 style="margin-bottom: 1em;">Update your info for notification alerts.</h5>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Email</label>
                                    <div class="col-9">
                                        <input class="form-control" type="email" ng-model="email" placeholder="name@example.com">
                                    </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label">Phone</label>
                                        <div class="col-9">
                                            <input class="form-control" type="tel" ng-model="phoneNumber" placeholder="+12223334444" pattern="[\+]\d{11}">
                                        </div>
                                    </div>
                                <div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        
    </div>
</body>
</html>