<!DOCTYPE html>
<html>
<head>
    <title>Amazon Watchlist</title>

    <!-- Bootsrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- app css -->
    <link rel="stylesheet" type="text/css" href="./css/popup.css">

    <!-- AngularJS-->
    <script src="lib/angular.min.js"></script>
    <script src="./app.js"></script>
</head>
<body ng-app="watchlistApp" class="body-dimension">
    <div ng-controller="popupController">
        <div ng-hide="wishlistID != 'None'">
            <div class="container-fluid">
                <div class="card bg-light">
                    <div class="card-body">
                        <p class="card-text">A wishlist id has not been set. Right click on Amazon watchlist icon a select options to set your wishlist id. Or <a ng-click="toOptionsPage()" href="">click here</a> </p>
                    </div>
                </div> 
            </div>
        </div>

        <!--
        <div>
            <p>your list id is: {{wishlistID}}</p>
            <button type="button" ng-click="getIdFromStorage()">click here to update id</button>
            <button type="button" ng-click="acquireProducts()">click to get ASINs</button>
        </div>
        -->

        <div class="loader-wrapper" id="loader-1" ng-show="!finishLoading">
            <div id="loader"></div>
        </div>

        <div class="container-fluid" ng-show="finishLoading">
            <div class="product-container" ng-repeat="entry in productList" ng-class="{'product-alert': comparePrice(entry)}">
                <div class="row mx-auto product">

                    <div class="col-4"><img class="img" ng-src="{{entry.img}}"></div>
                    

                    <div class="col-4"><p><strong>{{entry.productTitle}}</strong></p></div>

                    <div class="col-4">
                        <p>Current Price: <br/><a ng-href="{{entry.webLink}}" target="_blank">{{(entry.price == -1) ? 'unavailable' : (entry.price | currency)}}</a></p>

                        <p class="marginless">Alert price at:</p>
                        <div ng-attr-id="{{entry.asin}}">
                            <p>{{(entry.alertPrice == 'Not Set')? 'Not Set': (entry.alertPrice | currency)}}</p>
                            <!--<input type="text" class="form-control" placeholder="x"/> -->
                        </div>

                        <button type="button" class="btn btn-info" ng-attr-id="button-{{entry.asin}}" ng-click="modifyAlertPrice(entry.asin)">Change Price</button>

                    </div>
                
                </div>
                
            </div>
            
        </div> 
        

        
    </div>
    


</body>
</html>
